.tickets
{
    background: rgb(239, 189, 152);
    margin: auto;
    margin-left: 30px;
    margin-right: 30px; 
}
.ticketsTitle
{
    text-align: center;
}
#title
{
    text-align: center;
    display: flex;
    flex-direction: row;
}
#author
{
    display: flex;
    flex-direction: row;
}
